// Common styles

body {
  background-color: #333;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.714;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.clearfix {
  overflow: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: inherit;
}
// Icons
.icon {
  position: relative;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}
.icon-menu,
.icon-menu:before {
  width: 37px;
  height: 32px;
}
.icon-menu:before {
  content: url('/images/menu.svg');
  position: absolute;
  top: 0;
  left: 0;
}

.icon-search,
.icon-search:after {
  width: 32px;
  height:32px;
}

.icon-search:after {
  content: url('/images/search.svg');
  position: absolute;
  top: 0;
  left: 0;
}

// Body styles

.main-overflow {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
}

// Header 

.header {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 82px;

  &__menu {
    float: left;
  }
  &__search {
    float: right;
  }
  &__menu,
  &__search {
    height: 68px;
    line-height: 68px;
  }
  &__img {
    height: 68px;
  }

}



// Grid
.grid {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "grid__block-1 grid__block-1 grid__block-2"
    "grid__block-1 grid__block-1 grid__block-2"
    "grid__block-3 grid__block-5 grid__block-5"
    "grid__block-4 grid__block-5 grid__block-5";


  &__block {
    background-color: grey;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 24px #00000029;
  }

    // Aspect ratio
  &__block:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  &__block-1 {
    grid-area: grid__block-1;
  }

  &__block-1:before {
    padding-bottom: 60.94%;
  }  

  &__block-2 {
    grid-area: grid__block-2;
  }

  &__block-2:before {
    padding-bottom: 127.95%;
  }  

  &__block-3 {
    grid-area: grid__block-3;
  }

  &__block-3:before {
    padding-bottom: 60.94%;
  }  

  &__block-4 {
    grid-area: grid__block-4;
  }

  &__block-4:before {
    padding-bottom: 60.94%;
  }  

  &__block-5 {
    grid-area: grid__block-5;
  }

  &__block-5:before {
    padding-bottom: 60.94%;
  }  


}

// Grid content
.article {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;



  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &__tag,
  &__info {
    position: absolute;
    z-index: 3;
  }
  &__tag {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: #000 !important;
    box-shadow: 0px 3px 24px #00000014;
    top: 10%;
    left: 5%;
    display: inline-block;
    background-color: #84fab0;
    padding: 6px 19px;
    &--purple {
      background-color: #7028e4;
      color: #FFF !important;
    }
  }
  &__info {
    bottom: 5%;
    width: 95%;
    padding-left: 5%;
    bottom: 0;
    padding-bottom: 5%;

    // Black Background Gradient
    &:before {
      position: absolute;
      z-index: 2;
      content: '';
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      background: transparent linear-gradient(180deg, #33333300 0%, #00000089 100%) 0% 0% no-repeat padding-box;
    }
  }
  &__heading {
    font-size: 20px;
    width: 75%;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 30px;
  }

  &__time {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.64;
  }

}


.article--big {
  .article {
    &__tag {
      top: 6%;
    }  
    &__info {
      bottom: 0;
      padding-left: 5%;
      padding-bottom: 8.2%;
    }
    &__heading {
      font-size:  28px;
      line-height: 42px;
      width: 55%;
      margin-bottom: 20px;
    }
    &__time {
      font-size: 16px;
    }
  }
}

// Aside Universe
.aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: transparent linear-gradient(155deg, #E5B2CA 0%, #7028E4 100%) 0% 0% no-repeat padding-box; 

  &__space-station {
    width: 60%;
    margin-bottom: 13.8%;
  }  

  &__text {
    font: normal normal 800 24px/35px Poppins;
    &__link {
      display: inline-block;
      padding: 0 40px;
    }
  }

}

// Social Icons
// Name because of AdBlock
.svg-icons {
  text-align: center;
  margin-bottom: 80px;
}

.svg-icon {
  display: inline-block;
  width: 25px;
  height: 30px;
  line-height: 30px;
  vertical-align: bottom;
  margin: 0 9px;

  &__path {
    fill: #b5b5b5;
  }

  &:hover {
    text-decoration: none;
    & .svg-icon__path {
      fill: #FFF;
    }
  }
}

.svg-icon__path {
  transition: fill 0.5s;
}

.svg-icon-1 {
  width: 11px;
}

.svg-icon-2 {
  width: 25px;
  position: relative;
  top: -1px;
}

.svg-icon-3 {
  width: 20px;
}

.svg-icon-4 {
  width: 18px;
  top: 1px;
  position: relative;
}





// Footer

.footer {
  background-color: #222;
  margin: 40px 0 0;

  &__copyright {
    color: #FFFFFF;
    opacity: 0.48;
    font-size: 16px;
    float: left;
    line-height: 96px;
  }

  &__logo {
    float: right;
    line-height: 37px;
  }
  &__link {
    display: inline-block;
    position: relative;
    top: 33px;
  }
  &__img {
    height: 37px;
  }
}

// Responsive styles

// Header
@media(max-width: 400px) {
  .header {
    margin-top: 32px;
    margin-bottom: 12px;
    &__img {
      height: 58px;
    }
  }
}


// Grid
@media(max-width: 1300px) {
  .article {
    &__info {
      width: 90%;
      padding-right: 5%;
      padding-bottom: 5%;
    }
    &__heading {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .article--big {
    .article {
      &__info {
        width: 90%;
        padding-right: 5%;
        padding-bottom: 5%;
      }
      &__heading {
        width: 100%;
        margin-bottom: 5px;
      }      
    }
  }
}

@media(max-width: 1142px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "grid__block-1 grid__block-2"
      "grid__block-3 grid__block-2"
      "grid__block-4 grid__block-5";

  }
  .article--big {
    .article {
      &__heading {
        font-size: 20px;
        line-height: 30px;
      }  
      &__time {
        font-size: 14px;
      }    
    }
  }  
}

@media(max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "grid__block-1"
      "grid__block-2"
      "grid__block-3"
      "grid__block-4"
      "grid__block-5";

    // Aspect ratio
    &__block-2:before {
      padding-bottom: 60.94%;
    } 
  }
  .aside {
    &__space-station {
      max-width: 13%;
      margin-bottom: 1.8%;      
    }
  }
}

@media(max-width: 450px) {
  .article {
    &__heading {
      font-size: 15px;
      line-height: 20px;
    }  
    &__time {
      font-size: 12px;
    }
    &__tag {
      font-size: 11px;
      padding: 5px 14px;
    }
  }
  .article--big {
    .article {
      &__heading {
        font-size: 15px;
        line-height: 20px;
      }  
      &__time {
        font-size: 12px;
      }    
    }
  }
  .aside {
    &__text {
      font-size: 15px;
      line-height: 20px;
    }
  }   
}


// Social buttons
@media(min-width: 1800px) {

  .svg-icons {
    position: absolute;
    top: 229px;
    left: 88px;
  }

  .svg-icon {
    display: block;
    margin: 0 0 24px;
  }

}

@media(max-width: 700px) {
  .grid {
    margin-bottom: 53px
  }
  .svg-icons {
    margin-bottom: 46px;
  }
}


// Footer
@media(max-width: 400px) {
  .footer {
    &__copyright {
      float: none;
      line-height: 78px;
    }
    &__logo {
      float: none;
      margin-bottom: 20px;
    }
    &__link {
      top: 0;
    }
  }
}